<?xml version='1.0' encoding='utf-8'?>
<widget id="com.maayan.tanah" version="1.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>התנ"ך בעברית</name>
    <description>
        The Bible in Hebrew
    </description>
    <author email="maayanadmin@gmail.com" href="">
        Maayan Layfer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="orientation" value="portrait" />
</widget>
